#h1 {
    color: blue;
}

.home {
    text-align: center;
}

#homeContainer {
    border: 3px dotted blueviolet;
}

#toggle {
    color: brown;
}

#homeContainer:hover {
    background-color: aquamarine;
}

.navbar {
    border: 3px solid black;
    text-align: center;
    background-color: yellow;
    height: 25px;
    margin-bottom: 10px;
}

#nav a {
    text-decoration: none;
    padding-right: 5%;
    text-align: justify;
}
.imgCard {
    margin-top: 10px;
}
.image{
    text-align: center;
    border: auto solid black;
}

#img {
    width: 300px;
    height: 300px;
    align-items: center;
    margin: 0px auto;
}

.info{
    text-align: center;
}